<%= form_for([:admin, @page], :html => { :class => "form_validations" }) do |f| %>
	<div class="module_content">
	<% if @page.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>
		  <ul>
		  <% @page.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
	  <% end %>

		<%= f.label :name, raw("Name - <em>required</em>") %>
		<%= f.text_field :name, :class => "validate[required] span12" %>

		<%= f.label :title, "Title <span id='title-count' class='char_count'></span>".html_safe %>
		<%= f.text_field :title, :class => "span12" %>

		<%= f.label :meta_description, "Meta Description - <span id='meta-desc-count' class='char_count'></span>".html_safe %>
		<%= f.text_area :meta_description, :class => "span12" %>

		<%= f.label :content, "Content - <span id='content-count' class='char_count'></span>".html_safe %>
		<%= f.text_area :content, :class => "span12" %>

		<%= f.label :permalink, "Clean Url - <em>required</em>".html_safe %>
		<%= f.text_field :permalink, :class =>"validate[required] span12" %>

		<label class="checkbox">
			<% if action_name == "new" %>
				<%= f.check_box :active, :checked => true %>
			<% else %>
				<%= f.check_box :active %>
			<% end %>
			Active
		</label>
	</div>
  <footer>
    	<%= f.submit "#{create_or_update_string} Page", :class => "btn pull-right" %>
   </footer>
<% end %>
