<article class="module width_full">
	<header><h3>All Pages</h3></header>
	
	<div class="tab_container">
		<table id="datatable_pages" class="tablesorter" cellspacing="0">
			<thead>
				<tr>
					<th>Name</th>
					<th>Permalink</th>
					<th>Active</th>
					<th>Created</th>
					<th>Updated</th>
					<th class="index_action">Edit Content</th>
					<th class="index_action">Edit Preferences</th>
					<th class="index_action">Delete</th>
				</tr>
			</thead>
			<tbody>
				<% @pages.each do |page| %>
				<tr class="<%= cycle("odd", "even") %>">
					<td><%= page.name %></td>
					<td><%= page.permalink %></td>
					<td><%= page.active %></td>
					<td><%= page.created_at %></td>
					<td><%= page.updated_at %></td>
					<td><%= link_to 'Show', [:admin, page] %></td>
					<td><%= link_to 'Edit', edit_admin_page_path(page), :class => "edit_link" %></td>
					<td><%= link_to 'Destroy', [:admin, page], confirm: 'Are you sure?', method: :delete, :class => "delete_link" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<br />
<br />
</article><!-- end of stats article -->
<div class="spacer"></div>
