<%%= form_for([:admin, @<%= singular_table_name %>], :html => { class: "form_validations" }) do |f| %>
  <div class="module_content">
  <%% if @<%= singular_table_name %>.errors.any? %>
    <div id="error_explanation">
      <h2><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>
      <ul>
      <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
        <li><%%= msg %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

<% attributes.each do |attribute| -%>
    <%%= f.label :<%= attribute.name %> %>
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, class: "span12" %>
<% end -%>
  </div>
  <footer>
    <%%= f.submit "#{create_or_update_string} <%= singular_table_name.titleize %>", class: "btn pull-right" %>
  </footer>
<%% end %>
