<h2><%=t "change_password" %></h2>

<section class="gateway_confirm_form">
	<% if notice %><p class="notice"><%= notice %></p><% end %>
	<% if alert %><p class="alert"><%= alert %></p><% end %>
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
	  <%= f.hidden_field :reset_password_token %>
	
	  <div id="change_password"><%= f.label :password, "New password:", :class => "sign_in_label_big" %> <%= f.password_field :password, :class => "sign_in_input", :autocomplete => "off" %></div>
	  <div id="change_password_confirm"><%= f.label :password_confirmation, "Confirm new password:", :class => "sign_in_label_big" %>  <%= f.password_field :password_confirmation, :class => "sign_in_input", :autocomplete => "off" %></div>
	
	  <div id="submit_change_button"><%= f.submit "" %></div>
	<% end %>
</section>


<% content_for :title do %><%=t "change_password" %><% end %>