<h2><%=t "forgot_password" %></h2>
<section class="gateway_form">
	<% if notice %><p class="notice"><%= notice %></p><% end %>
	<% if alert %><p class="alert"><%= alert %></p><% end %>
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	  <div><div id="pass_forgot_label"><%= f.label :email, "Email:", :id => "forgot_email_label", :class => "sign_in_label" %></div> <div id="reg_input"><%= f.text_field :email, :class => "sign_in_input" %></div></div>
	  <div class="reg_button"><%= f.submit "", :id => "forgot_button" %></div>

	<% end %>
</section>

<% content_for :title do %><%=t "forgot_password" %><% end %>