<%= form_for([:admin, @admin], html: { class: "form_validations" }) do |f| %>
<div class="module_content">
  <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</h2>
      <ul>
      <% @admin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :email %>
  <%= f.email_field :email, class: "validate[required, custom[email]] span12" %>
    <% if controller.action_name == "new" %>
    <%= f.label :password %>
    <%= f.password_field :password, class: "validate[required] span12" %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "validate[required] span12" %>
  <% else %>
    <%= f.label :password, raw("Password - <i>(leave it blank if you don't want to change it)</i>") %>
    <%= f.password_field :password, class: "span12" %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "span12" %>
  <% end %>

</div>
  <footer>
    <%= f.submit "#{create_or_update_string} Admin", class: "btn pull-right" %>
  </footer>
<% end %>
