<article class="module">
	<header><h3>All Admins</h3></header>
		<table id="datatable_3_2" class="table table-hover">
			<thead>
				<tr>
					<th>Email</th>
					<th>Created</th>
					<th>Updated</th>
					<th class="index_action">Edit</th>
					<th class="index_action">Delete</th>
				</tr>
			</thead>
			<tbody>
				<% @admins.each do |admin| %>
				<tr>
					<td><%= admin.email %></td>
					<td><%= admin.created_at %></td>
					<td><%= admin.updated_at %></td>
					<td><%= link_to 'Edit', edit_admin_admin_path(admin), :class => "btn btn-primary" %></td>
					<td><%= link_to 'Destroy', [:admin, admin], confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %></td>
				</tr>
				<% end %>
				</tbody>
		</table>
</article><!-- end of stats article -->
