<article class="module width_quarter" style="width: 250px">

	  		<header>
	  			<h3 class="left_h3">Choose your homepage</h3>
	  		</header> 		
			<%= form_tag(admin_homepage_save_path) do %>
			<div class="module_content settings">
				<% @pages.each do |page| %>
					<% if @homepage.meta_value == page.id.to_s %> 
						<%= radio_button_tag "setting_homepage", "#{page.id}", true %> <%= label_tag "setting_homepage_#{page.id}", "#{page.name}" %><br /><br />
					<% else %>
						<%= radio_button_tag "setting_homepage", "#{page.id}" %> <%= label_tag "setting_homepage_#{page.id}", "#{page.name}" %><br /><br />
					<% end %>
				<% end %>
	  	</div>

	  <footer>
	  	<div class="submit_link"><%= submit_tag "Save homepage", :class => "alt_btn" %></div>
	  </footer>
	  	   <% end %>
</article>
