<%= form_for([:admin, @upload], html: { class: "form_validations" }) do |f| %>
<div class="module_content">
	<% if @upload.errors.any? %>
	<div class="error_explanation">
		<h2><%= pluralize(@upload.errors.count, "error") %> prohibited this page from being saved:</h2>
		<ul>
			<% @upload.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>


	<%= f.label :upload_name, "Rename on the upload"  %>
	<%= f.text_field :upload_name, class: "span12" %>

	<%= f.label :upload %>
	<div class="fileupload fileupload-new" data-provides="fileupload">
    <span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><%= f.file_field :upload %></span>
    <span class="fileupload-preview"></span>
    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">&times;</a>
    </div>
</div>

	<footer>
		<%= f.submit "Upload", class: "btn pull-right" %>
	</footer>
<% end %>
