<%= render "admin/partials/form_validations" %>

<%= form_for([:admin, @upload], :html => { :class => "form_validations", :multipart => true }) do |f| %>
<div class="module_content">
	<% if @upload.errors.any? %>
	<div class="error_explanation">
		<h2><%= pluralize(@upload.errors.count, "error") %> prohibited this page from being saved:</h2>
		<ul>
			<% @upload.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<%= f.label :permalink %>
	<br />
	<%= f.text_field :permalink %>
	<br />
	<br />

	<%= f.label :upload %>
	<br />
	<%= f.file_field :upload, :id => "upload_field" %>
</div>

<div style="clear: both"></div>
<footer>
	<div class="submit_link">
		<%= f.submit "#{create_or_update_string} Upload", :class => "alt_btn" %>
	</div>
</footer>
<% end %>
