<article class="module width_full">
	<header><h3>All Uploads</h3></header>
	
	<div class="tab_container">
		<table id="datatable_uploads" class="tablesorter" cellspacing="0">
			<thead>
				<tr>
					<th>Name</th>
					<th>File Type</th>
					<th>Created</th>
					<th>Updated</th>
					<th class="index_action">Edit</th>
					<th class="index_action">Delete</th>
				</tr>
			</thead>
			<tbody>	
				<% @uploads.each do |upload| %>
				<tr class="<%= cycle("odd", "even") %>" id="<%= dom_id(upload) %>">
					<td id="<%= dom_id(upload, "name") %>"><%= link_to upload.upload_file_name, '/uploads'+permalink_path(upload.upload_file_name), :target => "_blank" %></td>
					<td id="<%= dom_id(upload, "type") %>"><%= upload.upload_content_type %></td>
					<td id="<%= dom_id(upload, "created_at") %>"><%= upload.created_at %></td>
					<td id="<%= dom_id(upload, "updated_at") %>"><%= upload.updated_at %></td>
					<td><%= link_to 'Edit', edit_admin_upload_path(upload), :class => "edit_link" %></td>
					<td><%= link_to 'Destroy', [:admin, upload], confirm: 'Are you sure?', method: :delete, :class => "delete_link" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<br />
<br />
</article><!-- end of stats article -->
<div class="spacer"></div>
