<%= render "admin/partials/form_validations" %>
	<%= form_for([:admin, @user], :html => { :class => "form_validations" }) do |f| %>
	<div class="module_content">
	  <% if @user.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
	      <ul>
	      <% @user.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <%= f.label :email %> <br />
	  <%= f.email_field :email, :class => "validate[required, custom[email]]" %><br /><br />
  	  
  	  <% if controller.action_name == "new" %>
		  <%= f.label :password, :style => "width: 75px" %><br />
		  <%= f.password_field :password, :class => "validate[required]" %><br /><br />
		  <%= f.label :password_confirmation %><br />
		  <%= f.password_field :password_confirmation, :class => "validate[required]" %><br /><br />
	  <% else %>
	  	  <%= f.label :password, :style => "width: 75px" %> <i>(leave blank if you don't want to change it)</i><br />
		  <%= f.password_field :password %><br /><br />
		  <%= f.label :password_confirmation %><br />
		  <%= f.password_field :password_confirmation %><br /><br />
	  <% end %>

	</div>
	<div style="clear: both"></div>
	  <footer>
		  <div class="submit_link">
		    <%= f.submit "#{create_or_update_string} User", :class => "alt_btn" %>
		  </div>
	  </footer>
	<% end %>
