<article class="module width_full">
	<header><h3>All Users</h3></header>
	
	<div class="tab_container">
		<table id="datatable_users" class="tablesorter" cellspacing="0">
			<thead>
				<tr>
					<th>Email</th>
					<th>Created</th>
					<th>Updated</th>
					<th class="index_action">Edit</th>
					<th class="index_action">Delete</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
				<tr>
					<td><%= user.email %></td>
					<td><%= user.created_at %></td>
					<td><%= user.updated_at %></td>
					<td><%= link_to 'Edit', edit_admin_user_path(user), :class => "edit_link edit_ajax_link" %></td>
					<td><%= link_to 'Destroy', [:admin, user], confirm: 'Are you sure?', method: :delete, :class => "delete_link" %></td>
				</tr>
				<% end %>
				</tbody>
		</table>
	</div>
<br />
<br />
</article><!-- end of stats article -->
<div class="spacer"></div>
