<h1>Listing uploads</h1>

<table>
  <tr>
    <th>File Name</th>
    <th>Created At</th>
    <th>Upddfsdfsdfsdated At</th>
    <th>Content Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @uploads.each do |upload| %>
  <tr>
  	<td><%= upload.upload_file_name %></td>
    <td><%= upload.created_at %></td>
    <td><%= upload.file_updated_at %></td>
    <td><%= upload.file_content_type %></td>
  	<td><%= upload.url %></td>
    <td><%= link_to 'Show', admin_upload_path %></td>
    <td><%= link_to 'Edit', edit_admin_upload_path(upload) %></td>
    <td><%= link_to 'Destroy', upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<div class="spacer"></div>
