<%= form_for([:admin, @menu]) do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
      <ul>
      <% @menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>     
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
