<article class="module width_full">
	<header><h3>All Menus</h3></header>
	
	<div class="tab_container">
		<table id="datatable_menus" class="tablesorter" cellspacing="0">
			<thead>
				<tr>
					<th>Name</th>
					<th>Created</th>
					<th>Updated</th>
					<th class="index_action">Edit</th>
					<th class="index_action">Delete</th>
				</tr>
			</thead>
			<tbody>
				<% @menus.each do |menu| %>
				<tr class="<%= cycle("odd", "even") %>">
					<td><%= menu.name %></td>
					<td><%= menu.created_at %></td>
					<td><%= menu.updated_at %></td>
					<td><%= link_to 'Edit', edit_admin_menu_path(menu), :class => "edit_link" %></td>
					<td><%= link_to 'Destroy', [:admin, menu], confirm: 'Are you sure?', method: :delete, :class => "delete_link" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<br />
<br />
</article><!-- end of stats article -->
<div class="spacer"></div>