<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <title>Mercury Editor</title>
    <%= stylesheet_link_tag    'mercury', 'mercury_overrides' %>
    <%= javascript_include_tag 'mercury' %>
  </head>
  <body>
    <% if Rails.application.config.respond_to?(:mercury_config) %>
      <%= javascript_tag("jQuery.extend(Mercury.config, #{Rails.application.config.mercury_config});") %>
    <% end -%>
    <script>
	  	var saveUrl = "<%= "/#{params[:requested_uri]}/mercury_update" %>";
	  	var options = {
	        saveStyle: "form",  // 'form', or 'json' (default json)
	        saveMethod: null, // 'POST', or 'PUT', (create, vs. update -- default POST)
	        visible: null     // if the interface should start visible or not (default true)
	    };
	     $(window).bind('mercury:ready', function() {
	  		var link = $("#mercury_iframe").contents().find("#update_content");
	  		var saveUrl = link.data('save-url');
	  	});
	    new Mercury.PageEditor(saveUrl, options);
	  	
	  	$(function() {
			$(".mercury-goback-button").click(function() {
				$(this).mousedown(function(){
					$(this).css("background-position", "center 8px");	
				});
				
				$(this).mouseup(function(){
					$(this).css("background-position", "center 7px");	
				});
				
				
  				window.location.href = "/admin/pages";  		
  			});
  		});
	</script>
  </body>
</html>
